.App {
  text-align: center;
  font-family: 'Arial';
}

h3 {
  margin: 0
}

.switch {
  position: absolute;
	z-index: 10;
	background-color: white;
  font-weight: 500;
  font-size: 13px;
  padding: 10px 15px 8px;
  top: 2px;
  left: 2px;
  border-radius: 10px;
  box-shadow: -2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.title {
  position: absolute;
	z-index: 10;
	background-color: white;
	padding: 15px;
	font-weight: 600;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 5px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.forecast {
  text-align: left;
  position: absolute;
  top: 60px;
  z-index: 10;
  padding: 7px;
  background-color: white;
  font-weight: 500;
  left:50%;
  transform: translateX(-50%);
  border-radius: 5px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.forecast-section-item {
  cursor: pointer;
  color: blue;
}

.hint {
  position: absolute;
	right: 2px;
	top: 2px;
	z-index: 10;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  user-select: none;
}

.hint-title {
  padding: 10px 20px 8px;
  font-size: 20px;
  font-weight: 500;
  box-sizing: border-box;
  border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
  cursor: pointer;
}

.legend-item-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: 10px;
  font-size: 15px;
}

.circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  border-style: solid;
  border-width: 2px;
}

.circle-fog {
  background-color: #41414196;
  border-color: #414141e3;
}
.circle-storm {
  background-color: #ff000099;
  border-color: #ff0000f2;
}
.circle-hail {
  background-color: #5aa1ff77;
  border-color:#597eff77;
}
.circle-none {
  background-color: #b1b1b154;
  border-color: #b1b1b18a;
}
